body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: whitesmoke;
}

#fon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

#valentinka {
    width: 400px;
    height: 250px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

#gif_funny_cat {
    width: 400;
    height: 400px;
    display: inline-block;
    text-align: center;
    border-radius: 20%;
    border: 2px solid #C87679;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#ganster {
    width: 400;
    height: 400px;
    display: inline-block;
    z-index: 99;
}

.text {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.button {
    display: inline-block;
    background-color: pink;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    font-size: 30px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.button:hover {
    background-color: #A85175;
}

.wrapper {
    text-align: center;
}

#container {
    text-align: center;
}

#screamer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;      /* розтягнута по ширині */
    height: 100vh;    /* по висоті екрану, пропорції зберігаються по висоті */
    z-index: 9999;
    pointer-events: none; /* щоб не блокувала кліки */
}

.tiolka {
    width: 250px;
    height: 250px;
}

#problemna_tiolka {
    margin-left: -100px; /* 15% від ширини 200px = 30px */
    position: relative; /* для контролю */
    z-index: 2; /* щоб було поверх лівого */
}

#tiolka1 {
    position: absolute;
    top: 87%;
    left: 52%;
    transform: translate(-50%, -50%);
}

#kot {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 37%;
    left: 53%;
    transform: translate(-50%, -50%);
}
#text_3 {
    position: static;
    margin-left: 150px
}











